:root{
    --font-family: 'Inter', sans-serif;
    --font-family: 'Lexend Deca', sans-serif;
    --font-family: 'Poppins', sans-serif;
    --font-family: 'Roboto Slab', serif;
    --font-family: 'Rowdies', cursive;
    --font-weight-light:300;
    --font-weight-regular:400;
    --font-weight-semibold:600;
    --font-weight-bold:700;
}
body{
    font-family:var(--font-family);
    background-color:#230606;
    font-size:16px;
    color:ghostwhite;
}
h1{
    font-weight: var(--font-weight-regular);
}
.container,.row{
    margin:0;
    padding:0;
}
.card>img{
    width:10rem;
    height:10rem;
}
.light_background{
    background-color:#F1F9F3;
    color:black;
}
.red_background{
    background-color: red;
    color:black;
}
.green_background{
    background-color:#89E462;
    color:#230606;
}
.hor{
    color:#1D27ED;
    font-size: 3px;
}